.conteiner {
  width: 220px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}

.add {
  display: flex;
  justify-content: space-between;
}

input {
  border-radius: 5px;
  border: 1px solid black;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;  
}

.button:hover {
   background-color: grey;  
}

.blockTags {
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 5px;
}

.blockTags__tag {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
}

.blockTags__tagname {
  margin: 0 auto;
}

.blockTags__button {
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;  
}

#checkbox {
  margin-top: 10px;
}